@font-face {
    font-family: 'Avenir LT Std';
    src: url('./fonts/Avenir-Book.ttf'),;
    /* font-weight: normal;
    font-style: normal; */
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background:  url("./bg.jpg") rgb(148, 111, 148) no-repeat  center;
    background-blend-mode: multiply;
    
    background-size: cover;
    color: aliceblue;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

#investors{
    position: absolute;
    right: 2rem;
    top: 2rem;
    border: 0.5px solid #FFFFFF;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.15em;
    padding: .8rem 1.5rem;
    font-family: 'Avenir LT Std';
    text-transform: uppercase;
    transition: color .3s;
    transition: background-color .3s;
    transition: transform .3s;

}

#investors:hover {
    background-color: white;
    color: #202020;
    transform: scale(1.05);
}

.main {
    min-height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

h1 {
    font-size: 7rem;
    letter-spacing: 4px;
    text-shadow: 2px 6px 4px rgba(0, 0, 0, 0.25);
    text-align: center;


}

h3 {
    font-size: 3.3rem;
    font-weight: 400;
    text-align: center;
    color: #FFE4A8;
}

h5 {
    margin-top: 10rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 20px;
    font-size: 1.6rem;
    text-align: center;

}

.subtext {
    margin: 1rem;
    font-weight: bold;
    font-size: .8rem;
    letter-spacing: 1px;
    line-height: 12px;
}

.btn {
    margin-top: 1rem;
    background: linear-gradient(180deg, #C13987 0%, #EA657A 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: .8rem 1.6rem;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

@media only screen and (max-width: 640px) { 

    #investors {
        position: static;
        margin: 1rem;
    }

    img {
        margin: 1rem;
    }
    h1 {
        font-size: 3.5rem ;
        text-align: center;
    }

    h3 {
        font-size: 1.5rem;
    }

    h5 {
        margin: 20% 0;
        margin-top: 4rem;
        font-size: 1.8rem;
        letter-spacing: 10px;
    }
}