@font-face {
    font-family: 'Avenir LT Std';
    src: url('./fonts/Avenir-Book.ttf') format('truetype');
    /* font-weight: normal;
    font-style: normal; */
}

/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Avenir LT Std', sans-serif;

}

body {
    background-color: #202020;
    font-family: 'Avenir LT Std', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1300px;
    margin: 0 4rem;
}

header {
    display:flex;
    height: 6rem;
    align-items: center;
    justify-content: space-between;
}

header h2 {
font-size: 20px;
line-height: 27px;
letter-spacing: 0.15em;
text-transform: uppercase;
}

header img {
    height: 4rem;
}

hr {
    border: none;
    background: linear-gradient(180deg, #DB3CCA 0%, #DDA840 100%);
    height: 1px;
}

p{
    margin: 2rem 0rem ;
font-weight: 350;
font-size: 18px;
line-height: 24px;
letter-spacing: 0.4px;
}

.icons {
    margin: 5rem 0 -3rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    grid-template-rows: repeat(2,16rem);
}

.display {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: .5px;
}

.display img {
    height: 150px;
}
.display p {
    margin-top: 1rem;
    font-weight: 500;
text-transform: uppercase;
}

.display a {
    color: white;
    text-decoration: none;
    transition: color .3s;
}

.display a:visited {
    color: white;

}

.display a:hover {
    /* background-color: rgba(244, 179, 62, 0.8); */
    color: #D54F8B;
}
.subsection {
    border: 1px solid #474747;
    padding: 0rem 6rem;
    margin: 4rem 10rem;
    display: flex;
    align-items: center;

}



.subsection a {
    background-color: rgba(244, 179, 62, 0.8);
    background-image: linear-gradient(161.57deg, rgba(244, 179, 62, 0.8) 11.99%, rgba(223, 84, 136, 0.8) 87.5%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
    font-size: 20px;
   font-weight: bold;
   }
   .subsection a:hover {
    text-decoration: underline;
}
   .right {
       width: 400px;
       text-align: right;
   }

  

   .left {
    color: #DEDEDE;
    font-weight: 800;
    line-height: 20px;
   }

   .left p:first-child {
       font-size: 16px;
   }
   .left p:last-child {
       margin-top: -1rem;
    font-size: 14px;
}

footer {
    display: flex;
    gap: 2rem;
}

footer p {
    margin: 2rem;
    font-size: 16px;
    color: #DEDEDE;

}


@media only screen and (max-width: 640px) { 

    .container {
       width: 80%;
        margin: 0;
    }

    .subsection {
        margin: 0;
        margin-bottom: 3rem;
        flex-direction: column;
        padding: 1rem;
        padding-bottom: 2.5rem;
    }

    .subsection .right {
        text-align: center;
        width: 100%;

    }

    .icons {
        margin: 0;
        grid-template-columns: 1fr;
      
        grid-template-rows: repeat(2,16rem);
    }

    footer {
        flex-direction: column;
        gap: 1px;
        text-align: center;
    }
}
